.container {
	background-color: #22232a;
	color: #f7f7f6;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 25%;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* PAD COLORS */
.pad {
	width: 70px;
	padding-bottom: 70px;
	border-radius: 50%;
	margin: auto;
}

#green {
	background-color: #285c1b;
}

#red {
	background-color: #ae1511;
	display: inline-block;
	float: left;

}

#yellow {
	background-color: #d0ae48;
	display: inline-block;
	float: right;
}

#blue {
	background-color: #316c6d;
}


#secondRow {
	text-align: center;
	margin-top: 60px;
}

#thirdRow {
	margin-top: 60px;
}

h3 {
	display: inline-block;
	letter-spacing: 1px;
}


/* BUTTONS ROW */
#btnRow {
	margin-top: 90px;
	text-align: center;
}

.btn {
	display: inline-block;
}

.btn i {
	padding-top: 4px;
	font-size: 16px;
}

#startBtn, #resetBtn {
	width: 40px;
	height: 40px;
}

#startBtn:hover {
	color: #f7f7f6;
	background-color: #a1c562;
}

#resetBtn:hover {
	color: #f7f7f6;
	background-color: #86c2a5;
}


#strictBtn {
	text-align: center;
	width: 80px;
	height: 40px;
	border: 3px solid #e84855;
	font-size: 16px;
	margin: 0 15px;
}

#strictBtn:hover {
	background-color: #e84855; 
}

.strictOn {
	background-color: #ff5d46;
}


/* RESPONSIVE VIEW */
@media screen and (max-width: 1100px) {
	.wrapper {
		width: 40%;
	}

	#secondRow, #thirdRow, #btnRow {
		margin-top: 40px;
	}
}

@media screen and (max-width: 576px) {
	.wrapper {
		width: 90%;
	}

	#secondRow, #thirdRow, #btnRow {
		margin-top: 40px;
	}
}
